# Eclipse
.cache
.classpath
.project
.settings
bin
generated-java

# Mac
.DS_Store

# Gradle
build
.gradle
target

# Idea
*.iml
.idea
*.ipr
*.iws

# velocity
velocity.log

# generated DSL sources
*/src/dataset-dsl/*