#set($filename = "RefFactory" )
#if( $model.package && $model.package.length() != 0 )
#set($package  = ${model.package} + ".dsl" )
#else
#set($package  = "dsl" )
#end
#set($clsFactory = "RefFactory")
package ${package};

public class ${clsFactory} 
{
#foreach( $table in $model.tables )

  public static ${table.javaName}Ref create${table.javaName}Ref()
  {
    return new ${table.javaName}Ref();
  }
#end
}