#set($names    = ${model.names})
#set($filename = "RefFactory")
#set($package  = ${model.package})
#set($clsFactory = "RefFactory")
#if( $package && $package.length() != 0 )
package ${package};
#end

public class ${clsFactory} 
{
#foreach( $table in $model.tables )

  public static ${names.getRefClass($table)} create${names.getRefClass($table)}()
  {
    return new ${names.getRefClass($table)}();
  }
#end

}