#set($filename = "RefFactory" )
#set($package  = ${model.package} )
#set($clsFactory = "RefFactory")
#if( $package && $package.length() != 0 )
package ${package};
#end

public class ${clsFactory} 
{
#foreach( $table in $model.tables )

  public static ${table.javaName}Ref create${table.javaName}Ref()
  {
    return new ${table.javaName}Ref();
  }
#end
}