<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    ">

    <context:component-scan base-package="com.seitenbau.testing.dbunit" />
    
    <bean id="propertyPlaceholderConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/config/spring/application.properties
                </value>
            </list>
        </property>
    </bean>

    <tx:annotation-driven proxy-target-class="true"
        transaction-manager="transactionManager" />

    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driver}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
    </bean>


    <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="personRepo" class="com.seitenbau.testing.dbunit.dao.PersonRepo">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="jobRepo" class="com.seitenbau.testing.dbunit.dao.JobRepo">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
       <bean id="teamRepo" class="com.seitenbau.testing.dbunit.dao.TeamRepo">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>
